<div class="row">
  <div class="col-sm-3">
    <ul class="nav nav-pills flex-column" style="margin-top:20px;">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./flight-search']"
          >Flug auswählen</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./passenger-search']"
          >Passagier auswählen</a
        >
      </li>
    </ul>
  </div>

  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
