<h1 *ngIf="!givenName">Welcome!</h1>
<h1 *ngIf="givenName">Welcome, {{givenName}} {{familyName}}!</h1>


<div class="panel panel-default">
  <div class="panel-body">
    <p>Login with Username/Password</p>

    <p *ngIf="loginFailed" style="color:red; font-weight:bold">
      Login wasn't successfull.
    </p>

    <div class="form-group">
      <label>Username</label>
      <input [(ngModel)]="userName" class="form-control">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input [(ngModel)]="password" class="form-control" type="password">
    </div>
    <div class="form-group">
      <button (click)="loginWithPassword()" class="btn btn-default">Login</button>
      <button (click)="logout()" class="btn btn-default">Logout</button>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <b>Username/Password:</b> max/geheim
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <b>access_token_expiration:</b> {{access_token_expiration}}
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <b>access_token:</b> {{access_token}}
    </p>
    <div *ngIf="userProfile">
      <b>user profile:</b>
      <pre>{{userProfile | json}}</pre>
    </div>

  </div>
</div>
