<h1>Flight Search!</h1>

<!--
appRoundTrip
-->

<form #f="ngForm" novalidate appRoundTrip>

  <div *ngIf="f?.control?.hasError('appRoundTrip')">
    Rund-Flüge sind nicht möglich.
  </div>


  <div class="form-group">
    <label>From</label>
    <input [(ngModel)]="from"
           appAsyncCity
           appCity="Hamburg,Wien,Graz,Frankfurt,Luxemburg,Luxembourg"
           class="form-control"
           maxlength="30"
           minlength="3"
           name="from"
           pattern="[a-zA-ZöäüßÖÄÜ]+"
           required>

    <div *ngIf="!f?.controls?.from?.valid && !f?.controls?.from?.pending ">
      Validierungsfehler. Bitte prüfen Sie Ihre Eingaben.
      <pre>
            {{ f.controls.from?.errors | json }}
            </pre>
    </div>

    <div *ngIf="f?.controls?.from?.hasError('console.log')">
      Async-City: Die Stadt wird gerade wegen eines Unwetters nicht angeflogen.
    </div>


    <div *ngIf="f?.controls?.from?.pending">
      <marquee>
        Validierung wird ausgeführt. Bitte etwas warten!
      </marquee>
    </div>


    <div *ngIf="f?.controls?.from?.hasError('required')">
      Dieses Feld ist ein Pflichtfeld.
    </div>

    <div *ngIf="f?.controls?.from?.hasError('appCity')">
      Diese Stadt wird nicht angeflogen.
    </div>

    <div *ngIf="f?.controls?.from?.hasError('minlength')">
      Bitte erfassen Sie min. 3 Zeichen.
    </div>
    <div *ngIf="f?.controls?.from?.hasError('pattern')">
      Bitte nur Buchstaben erfassen.
    </div>

  </div>


  <div class="form-group">
    <label>To</label>
    <input [(ngModel)]="to" class="form-control" name="to">
  </div>
  <div class="form-group">
    <button
      (click)="search()"
      [disabled]="!f.valid"
      class="btn btn-primary"
      name="btnSearch">Search
    </button>
  </div>

</form>
<!--
[ngClass]="{ 'active': f === selectedFlight }"
-->
<!--
<table class="table table-striped">

    <tr *ngFor="let f of flights" [ngStyle]="{ 'background-color': (f === selectedFlight) ? 'orange': '' } ">
        <td>{{f.id}}</td>
        <td>{{f.from | city:'short' }}</td>
        <td>{{f.to | city:'long' }}</td>
        <td>{{f.date | date:'dd.MM.yyyy HH:mm'}}</td>
        <td><a (click)="select(f)">Auswählen</a></td>
    </tr>
</table>
-->

<div class="row">
  <div *ngFor="let f of flights" class="col-sm-6 col-md-4 col-lg-3 ">
    <app-flight-card [(selectedItem)]="selectedFlight"
                 [item]="f">

    </app-flight-card>

    <!--
    [selectedItem]="selectedFlight"
                 (selectedItemChange)="selectedFlight = $event"
    -->
    <!--
            <app-alt-flight-card
                    [item]="f"
                    [selected]="f === selectedFlight"
                    (selectedChange)="selectedFlight = f">
            </app-alt-flight-card>
    -->
  </div>
</div>

<!--
<app-flight-list [flights]="flights" [(selectedFlight)]="selectedFlight">
</app-flight-list>
-->

<div class="row" style="margin-top:40px">
<pre>Warenkorb
----------------------
  {{selectedFlight | json}}
</pre>
</div>
